.aui-img-clear .mui-table-view .mui-media-object{
	line-height: 92px;
	max-width: 92px;
	height: 92px;
}
.aui-hots-img{
	position:relative;
}
.aui-hots-img img{
	width:100%;
	height:100%;
	display:block;
	border:none;
}

.aui-sml{
	font-size:11px;
	color:#fff;
	background:#ff3366;
	border-radius:2px;
	width:30px;
	text-align:center;
}


.aui-jb{
	background: -webkit-linear-gradient(left,#ff9000,#ff5000) no-repeat;
	color: #fff;
	box-shadow: 0 .08rem .16rem #f7c7b1
}
.buy{
	position: absolute;
    right: 10px;
    bottom: 5px;
    font-size: 14px;
    color: #ff3366;
}