
.mui-page .mui-table-view:first-child {
    margin-top: 10px;
}
.mui-page .mui-table-view:last-child {
    margin-bottom: 30px;
}
.mui-pages,
.mui-page,
.mui-page-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #efeff4;
}
.mui-pages {
    top: 46px;
    height: auto;
}